<div class="p-5" style="max-width: 1270px;margin: auto;">
    <div class="mt-12"></div>

    <div class="grid grid-cols-2 gap-4 screen" style="margin-bottom: 6%;" id="accueil">
        <div class="container p-9 pb-4" style="width: 706px;" >
            <h1 class="lg:text-4xl text-sm md:text-base lineHeight mt-8">
                <span class="vehicule" >Là où la technologie</span> <br>
                <span class="ilEtait">rencontre la confiance :</span> <br>
                <span class="ficheCheck" style="color: rgb(3, 169, 244);">l'assurance réinventée</span> <br>
            </h1>

            <h1  class="mt-6 text-justify textSousTitle">
                Découvrez IA Check, notre solution innovante qui utilise l'intelligence artificielle pour vous aider à sécuriser votre activité d'assurance. Grâce à des algorithmes de pointe et à une qualification précise des données, nous détectons les fraudes et évaluons les risques avec une précision inégalée.

            </h1>
            <p></p>

            <RouterLink to="/login">
                <button type="button" style="margin-top: 17%;width: 100%;background-color: #03A9F4;"
                    class="text-white focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2    Inspecter">Explorer maintenant</button>
            </RouterLink>
        </div>
        <div class="">
            <img src="https://storage-alikar.b-cdn.net/gobabar/pickup/lhuvbplgeildnixm2mu1684519345492.png" class="imgCar" style=""
                alt="">
        </div>
    </div>




    <h1 class="text-center font-bold pb-7 titleAcces">Détectez les fraudes, optimisez vos processus et offrez<span class="" style="color:#03A9F4"> une expérience client exceptionnelle</span>
    </h1>

    <div class="flex justify-around mt-9 pb-4 screen mobile">

        <div class="card border border-gray-200 rounded-lg shadow-2xl "
            style="width: 20rem;background-color: aliceblue;">
            <div class="card-body" style="text-align:center">
                <div class="numberCircle2" style="background-image: url('https://storage-alikar.b-cdn.net/gobabar/pickup/lhvxuoz0kqdhzz20ksb1684584056556.png');background-repeat: no-repeat;
background-size: 76px 76px;">
                </div>
                <RouterLink class="text-indigo-600 hover:text-indigo-700 font-semibold" to="/login"> <button
                    type="button" style="background: #03A9F4;color: white;"
                    class="w-52 py-2.5 px-5 mr-2 mb-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200  hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200     btnGaragiste">Expérience Client</button>
            </RouterLink>
                <p class="card-text pb-5 font-bold text-xs px-2 textP">Expérience utilisateur ergonomique avec un workflow optimisé pour des démarches et paiements simplifiés</p>
                

            </div>
        </div>
        <div class="px-4 mobilePadding"></div>

        <div class="card border border-gray-200 rounded-lg shadow-2xl "
            style="width: 20rem;background-color: aliceblue;">
            <div class="card-body" style="text-align:center">
                <div class="numberCircle2"
                    style="background-image: url('https://storage-alikar.b-cdn.net/gobabar/pickup/lhvxwsx5abs0hd6vv3p1684584154985.png');
                    background-repeat: no-repeat;
background-size: 76px 76px;"">
                </div>
                <RouterLink class="text-indigo-600 hover:text-indigo-700 font-semibold" to="/login"> <button
                    type="button" style="background: #03A9F4;color: white;"
                    class="w-52 py-2.5 px-5 mr-2 mb-5 text-xs font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200  hover:text-blue-700 focus:z-10">Optimisation des Processus</button></RouterLink>
                <p class="card-text pb-5 font-bold text-xs px-2 textP">Automatisation des workflows pour simplifier et optimiser vos processus. Élimination des erreurs humaines, réduction des tâches manuelles, gain d'efficacité</p>
               
            </div>
        </div>
        <div class="px-4 mobilePadding"></div>

        <div class="card border border-gray-200 rounded-lg shadow-2xl "
            style="width: 20rem;background-color: aliceblue;">
            <div class="card-body" style="text-align:center">
                <div class="numberCircle2" style="background-image: url('https://storage-alikar.b-cdn.net/gobabar/pickup/lhvxyaksmqoudjaaqwc1684584224524.png');background-repeat: no-repeat;
background-size: 76px 76px;">
                </div>
                <RouterLink class="text-indigo-600 hover:text-indigo-700 font-semibold" to="/login"> <button
                    type="button" style="background: #03A9F4;color: white;"
                    class="w-52 py-2.5 px-5 mr-2 mb-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200  hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200     btnAssurance">Détection des fraudes</button></RouterLink>
                <p class="card-text pb-5 font-bold text-xs px-2 textP">Détection rapide de fraudes, protection proactive de votre entreprise et de vos clients</p>
               


            </div>
        </div>
        <div class="px-4 mobilePadding"></div>
        <div class="card border border-gray-200 rounded-lg shadow-2xl "
            style="width: 20rem;background-color: aliceblue;">
            <div class="card-body" style="text-align:center">
                <div class="numberCircle2" style="background-image: url('https://storage-alikar.b-cdn.net/gobabar/pickup/lhvxzgqhbxnbokufpa1684584279161.png');background-repeat: no-repeat;
background-size: 76px 76px;">
                </div>
                <RouterLink class="text-indigo-600 hover:text-indigo-700 font-semibold" to="/login"> <button
                    type="button" style="background: #03A9F4;color: white"
                    class="w-52 py-2.5 px-5 mr-2 mb-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200  hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200     btnClient">Fiabilisation de la Data</button></RouterLink>
                <p class="card-text pb-5 font-bold text-xs textP">Vérification client précise et fiable pour l'intégrité des données. Confiez notre technologie avancée pour des données de qualité et fiables</p>
               


            </div>
        </div>

    </div>

    <div class="p-7"></div>

    <div class="w-9/12	mt-9 home-container" id="solutions-section">

        <h1 class="text-center font-bold text-4xl pb-7 titleAcces">Démarquez-vous dans le secteur de l'assurance avec 
            <span class="votreTemps" style="color: rgb(3, 169, 244);">IA Check : </span>
            <span> Explorez nos solutions incontournables</span>
        </h1>
      

        <div class="flex justify-around	pb-7 mt-6 screen">

            <div class="block w-3/4 p-4 bg-white border rounded-lg shadow-xl  screenMobile" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine"
                style="background-color: aliceblue;">
                <div class="flex">

                    <div class="pr-3 w-2/5" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <img src="https://storage-alikar.b-cdn.net/gobabar/pickup/lhvy652iufrwbhrabne1684584590634.png" alt="">
                    </div>
                    <div class="">
                        <h2 class="title Coût">Personnalisation : </h2>
                        <p class="font-normal text-gray-700 text-sm  leading-7 textInspection">Personnalisation avancée pour une expérience client exceptionnelle. Répondez aux besoins spécifiques de vos clients en personnalisant les interactions grâce à notre solution. Renforcez l'engagement, favorisez la fidélisation et offrez une expérience exceptionnelle en mettant l'accent sur une approche centrée sur le client</p>
                    </div>
                </div>
            </div>
            <div class="px-6	"></div>

            <div class="block w-3/4 p-6 bg-white border rounded-lg shadow-xl  screenMobile"  data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine"
                style="background-color: aliceblue;">
                <div class="flex">

                    <div class="pr-3 w-2/5" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <img src="https://storage-alikar.b-cdn.net/gobabar/pickup/lhvyb1vuuma2xuwcn0j1684584819786.png" alt="">
                    </div>
                    <div class="">
                        <h2 class="title Sécurité">Workflow :
                        </h2>
                        <p class="font-normal text-sm text-gray-700  leading-7 textSécurité">Optimisez vos processus opérationnels avec notre solution de workflow. Automatisez les tâches répétitives, rationalisez les flux de travail et favorisez la collaboration. Réduisez les délais, minimisez les erreurs et augmentez la productivité. Concentrez-vous sur des activités à forte valeur ajoutée pour améliorer l'efficacité de votre entreprise</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="flex justify-around	mb-12 screen">
            <div class="block w-3/4 p-4 bg-white border bg-gray-100 bg-gray-100 rounded-lg shadow-xl screenMobile" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine"
                style="background-color: aliceblue;">
                <div class="flex">
                    <div class="pr-3" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <i class="fa-solid fa-globe text-5xl text-[#03A9F4]"></i>
                    </div>
                    <div class="">
                        <h2 class="title Productivité">Intelligence artificielle :
                        </h2>
                        <p class="font-normal text-sm text-gray-700  leading-7 textProductivité">Valorisez les dommages des véhicules grâce à notre solution d'intelligence artificielle avancée. Exploitez la puissance de l'IA pour extraire des informations précieuses, améliorer la prise de décision      et offrir des services personnalisés à grande échelle. Optimisez votre efficacité, tirez le meilleur parti de vos données et restez compétitif dans un marché en constante évolution</p>
                    </div>
                </div>
            </div>
            <div class="px-6"></div>
            <div class="block w-3/4 p-4 bg-white border  rounded-lg shadow-xl screenMobile"  data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine"
                style="background-color: aliceblue;">
                <div class="flex">
                    <div class="pr-3 w-2/5" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <img src="https://storage-alikar.b-cdn.net/gobabar/pickup/lhvyjedupvt2pnr2ahi1684585209234.png" alt="">
                    </div>
                    <div class="">
                        <h2 class="title Facilité">Modélisation IA : 
                        </h2>
                        <p class="font-normal text-sm textFacilité text-gray-700  leading-7">De plus, grâce à notre modélisation IA, nous utilisons les données disponibles pour reconstruire les circonstances de l'accident, fournissant ainsi une compréhension détaillée des événements. Cela vous permet de mieux évaluer les dommages, d'accélérer       le traitement des réclamations et d'améliorer l'efficacité de votre entreprise</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="flex justify-around	mb-12 screen">
            <div class="block w-3/4 p-4 bg-white border bg-gray-100 bg-gray-100 rounded-lg shadow-xl screenMobile" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine"
                style="background-color: aliceblue;">
                <div class="flex">
                    <div class="pr-3 w-2/5" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <img src="https://storage-alikar.b-cdn.net/gobabar/pickup/lhvyomoabapqfhgsg6c1684585453258.png" alt="">
                    </div>
                    <div class="">
                        <h2 class="title Productivité">Détections des fraudes :
                        </h2>
                        <p class="font-normal text-xs text-gray-700  leading-7 textProductivité">Détectez rapidement les fraudes et protégez votre entreprise grâce à notre puissant algorithme. Prévenez les comportements suspects, évaluez les risques avec précision et prenez des décisions éclairées. Optimisez vos stratégies d'assurance avec une analyse approfondie des données et des modèles prédictifs</p>
                    </div>
                </div>
            </div>
            <div class="px-6"></div>
            <div class="block w-3/4 p-4 bg-white border  rounded-lg shadow-xl screenMobile"  data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine"
                style="background-color: aliceblue;">
                <div class="flex">
                    <div class="pr-3 w-2/5" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <img src="https://storage-alikar.b-cdn.net/gobabar/pickup/lhvyql05fhripkpvosq1684585544405.png" alt="">
                    </div>
                    <div class="">
                        <h2 class="title Facilité">Paiement et Rating système :
                        </h2>
                        <p class="font-normal text-xs	textFacilité text-gray-700  leading-7"> Notre solution de notation permet d'évaluer la fiabilité et la réputation des parties impliquées, renforçant ainsi la transparence et l'efficacité des transactions. De plus, notre solution "Achetez maintenant, payez plus tard" facilite les remboursements et améliore l'expérience client en offrant une flexibilité de paiement</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="p-6">
           
            <h1 style="font-size: 42px;" class="text-center font-bold text-5xl pb-7 Laissez">Laissez la technologie
                <span class="vousFaciliter" style="color: rgb(3, 169, 244);">vous faciliter la vie.</span>
            </h1>
            <p class="text-center text-base pb-5 notrePlatform">nous sommes dévoués à vous offrir des solutions innovantes qui améliorent votre activité d'assurance 
            </p>
        </div>


        <div class="flex justify-around py-10 screen">
            <div class="card cardDesctop border border-gray-200 rounded-lg shadow-xl   screenMobile"
                style="">
                <div class="card-body" style="text-align:center">
                    <div class="numberCircle1">1</div>
                    <h1 class="font-bold text-center text-base mb-8 Précision">Excellence</h1>
                    <hr class="m-auto h-px my-6 w-3/4 border-0" style="background: #03A9F4;">
                    <p class="card-text pb-5 text-base text-justify	p-3 textPrécision">Nous nous efforçons de fournir des solutions d'excellence, en utilisant les dernières avancées technologiques, des algorithmes de pointe et une expertise approfondie dans le domaine de l'assurance. Nous visons à vous offrir des outils performants et fiables pour vous aider à exceller dans votre secteur</p>
                </div>
            </div>
            <div class="px-4"></div>

            <div class="card cardDesctop border border-gray-200 rounded-lg shadow-xl   screenMobile"
                style="">
                <div class="card-body" style="text-align:center">
                    <div class="numberCircle1">2</div>
                    <h1 class="font-bold text-center text-base mb-10 Ecologie">Innovation</h1>
                    <hr class="m-auto h-px my-6 w-3/4 border-0" style="background: #03A9F4;">
                    <p class="card-text pb-5 text-base text-justify	p-3 textEcologie">Nous croyons en l'innovation continue et en l'exploration de nouvelles possibilités. Notre équipe est constamment à la recherche de nouvelles idées, de nouvelles approches et de nouvelles technologies pour vous offrir des solutions avant-gardistes. Nous sommes prêts à repousser les limites et à vous aider à rester à la pointe de l'industrie</p>
                </div>
            </div>
            <div class="px-4"></div>
            <div class="card cardDesctop border border-gray-200 rounded-lg shadow-xl   screenMobile"
                style="">
                <div class="card-body" style="text-align:center">
                    <div class="numberCircle1">3</div>
                    <h1 class="font-bold text-center text-base mb-10 Gestion">Collaboration</h1>
                    <hr class="m-auto h-px my-6 w-3/4 border-0 " style="background: #03A9F4;">
                    <p class="card-text pb-5 text-base text-justify	p-3 textGestion">Nous attachons une grande importance à la collaboration avec nos clients. Nous croyons que le meilleur moyen d'atteindre des résultats exceptionnels est de travailler main dans la main avec vous, en comprenant vos besoins spécifiques et en adaptant nos solutions en conséquence. Notre équipe hautement qualifiée est là pour vous accompagner à chaque étape du processus</p>
                </div>
            </div>

        </div>



        <div class="p-6">
            <h1 class="text-center font-bold text-5xl pb-7 Comment">Comment <span class="Marche" style="color:#03A9F4">ça marche</span>
            </h1>
            <p class="card-text text-center pb-5 text-base">Notre solution est intuitive et facile à utiliser.
                L'utilisateur naviguera facilement dans le processus.</p>
        </div>



        <div class="grid grid-cols-5 gap-4 screen"  >



            <div class="col-span-1"></div>
            <div class="flex col-span-3 screen">
                <button class="text-white font-bold py-2 px-4 mr-5 shadow-md rounded-full step1btn step1Mobile"
                    data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine">
                    Accident : assitance plateforme
                </button>
                <div class="m-auto w-full max-w-sm bg-white shadow-md rounded-lg   cardMobile"
                    data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine"
                    style="background: #F2FDFF;">
                    <a href="#">
                        <img class="rounded-t-lg"
                            src="https://storage-alikar.b-cdn.net/gobabar/pickup/lhvz16g9bpow0y16m491684586038761.png"
                            style="height: 530px;width: 100%" alt="product image" />
                    </a>
                   
                </div>
            </div>


        </div>




        <div class="grid grid-cols-5 gap-4 screen">



            <div class="col-span-1"></div>
            <div class="flex col-span-3 screen">
                <div class="m-auto w-full max-w-sm bg-white shadow-md rounded-lg   cardMobile"
                data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine"
                style="background: #F2FDFF;">
               
                    <img class="rounded-t-lg"
                        src="https://storage-alikar.b-cdn.net/gobabar/pickup/lhvz2cip88xznzln1rw1684586093281.png"
                        style="height: 530px;width: 100%" alt="product image" />
             
               
            </div>
                <button class="text-white font-bold py-2 px-4 ml-5 shadow-md rounded-full step1btn step1Mobile"
                    data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine" style="">
                    Capturez, saisissez, signez !
                </button>
              
            </div>


        </div>



        <div class="grid grid-cols-5 gap-4 screen">



            <div class="col-span-1"></div>
            <div class="flex col-span-3 screen">
                <button class="text-white font-bold py-2 px-4 mr-5 shadow-md rounded-full step1btn step1Mobile"
                    data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine" style="">
                    Rapports détaillés. Données fiables
                </button>
                <div class="m-auto w-full max-w-sm bg-white shadow-md rounded-lg   cardMobile"
                    data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine"
                    style="background: #F2FDFF;">
                    <a href="#">
                        <img class="rounded-t-lg"
                            src="https://storage-alikar.b-cdn.net/gobabar/pickup/lhvzcax7t39xxiug5ne1684586557771.png"
                            style="height: 530px;width: 100%" alt="product image" />
                    </a>
                   
                </div>
            </div>


        </div>




       






    </div>

    <div class="p-6">
           
        <h1 style="font-size: 42px;" class="text-center font-bold text-5xl pb-7 Laissez">  
            <span class="vousFaciliter" style="color: rgb(3, 169, 244);">IA Check</span>
        </h1>
        <h1 class="text-center font-bold text-4xl pb-7">Maximisez la Sécurité, l'Efficacité et la Satisfaction Client avec nos Solutions Avancées
        </h1>
    </div>


    <section class="">
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 ">Contacter-nous :</h2>
            <p class="mb-8 lg:mb-16 font-light text-center  sm:text-xl">Vous avez une question ou
                une requête à propos de IA CHECK. Merci de remplir le formulaire ci-dessous :</p>
            <form action="#" class="space-y-8">
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Votre
                        mail</label>
                    <input type="email" id="email"
                        class="shadow-sm border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5    "
                        placeholder="example@gmail.com" required>
                </div>
                <div>
                    <label for="subject"
                        class="block mb-2 text-sm font-medium text-gray-900 ">L’objet :</label>
                    <input type="text" id="subject"
                        class="block p-3 w-full text-sm text-gray-900 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500    "
                        placeholder="object" required>
                </div>
                <div class="sm:col-span-2">
                    <label for="message"
                        class="block mb-2 text-sm font-medium text-gray-900 ">Votre message
                        :</label>
                    <textarea id="message" rows="6"
                        class="block p-2.5 w-full text-sm text-gray-900 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500  "
                        placeholder="Votre message"></textarea>
                </div>
                <button type="button" style="width: 30%;background-color: #03A9F4;"
                    class="text-white focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2   ">Send
                    message</button>

            </form>
        </div>
    </section>





</div>



