<section class="w-full relative flex flex-col relative mb-10 mt-10">
    <div class="container px-5 m-auto">
        <div
            class="text-3xl md:text-4xl xl:text-5xl capitalize font-montserrat text-center md:leading-[3.3rem] font-bold max-w-[630px] xl:max-w-[800px] max-h-fit mx-auto text-[#28398c] xl:leading-[4rem]">
            <h1>اختبار البرمجيات</h1>
        </div>
        <p class="max-w-[880px] mx-auto text-[#737195] text-center text-lg font-semibold mt-5">هل تبحث عن ضمان أقصى جودة لتطبيقاتك البرمجية؟ تقدم خدمة اختبار البرمجيات في لوجيسيل لاب حلاً استثنائيًا لضمان أن تكون تطبيقاتك دائمًا في أفضل حالة. يعتبر الاختبار البرمجيات مفتاح نجاح أي منتج برمجي، وهذا ما نقدمه بكفاءة عالية واحترافية لك.        </p>

        <div class="flex items-center gap-5 justify-center">
            <button style="border: 2px solid;" type="button"
                class="base-btn text-xl rounded-lg text-white hover:text-[#28398c] bg-[#28398c] hover:bg-white p-2.5 px-8 mt-8"> تواصل معانا </button>
        </div>
    </div>
</section>

<section class="w-full relative flex flex-col relative mb-10 mt-10">
    <div class="container px-5 m-auto">
        <h2 class="text-3xl mb-2 font-bold text-text text-center mx-auto max-w-[700px]">ما نضمنه لك عند إجراء خدمات اختبار البرمجيات مع لوجيسيل لاب        </h2>
        <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-2 mt-7 grid_area_template items-center">
            <div class="rounded-2xl img_wrapper w-full h-full"><img
                    src="../images/software.jpg"
                    width="480" height="500" alt="software testing service" class="relative object-contain h-full rounded-2xl mx-auto"></div>
            <div class="rounded-lg pb-5 h-fit p-5 space-y-3 shadow-lg border border-[#F5F5FC]">
                <h3 class="flex items-center gap-1 font-bold text-black text-xl"><span
                        class="rounded-2xl text-xl text-[#28398c] border-[#28398c] font-bold w-11 h-11 border border-solid flex justify-center items-center mr-2">01</span><span
                        class="line-clamp-1 flex-1">تقليل التكلفة الكلية</span></h3>
                <p class="text-[#737195] text-lg line-clamp-3">إذا تمت عملية البحث عن الأخطاء في المراحل المتقدمة من بداية المشروع، فإن ذلك سوف يضمن لك التقليل من تكاليف المشروع الإلكتروني الكلية بفارق لا يستهان به.                </p>
            </div>
            <div class="rounded-lg pb-5 h-fit p-5 space-y-3 shadow-lg border border-[#F5F5FC]">
                <h3 class="flex items-center gap-1 font-bold text-black text-xl"><span
                        class="rounded-2xl text-xl text-[#28398c] border-[#28398c] font-bold w-11 h-11 border border-solid flex justify-center items-center mr-2">02</span><span
                        class="line-clamp-1 flex-1">إرضاء العملاء</span></h3>
                <p class="text-[#737195] text-lg line-clamp-3">يتمثل الهدف الرئيسي في تقديم خدمات اختبار البرمجيات التي تلبي احتياجات العملاء بالضبط. يجب أن يكون الاختبار شاملاً ودقيقًا، مع مراعاة ملاحظات العملاء وضمان جودة البرمجيات                </p>
            </div>
            <div class="rounded-lg pb-5 h-fit p-5 space-y-3 shadow-lg border border-[#F5F5FC]">
                <h3 class="flex items-center gap-1 font-bold text-black text-xl"><span
                        class="rounded-2xl text-xl text-[#28398c] border-[#28398c] font-bold w-11 h-11 border border-solid flex justify-center items-center mr-2">03</span><span
                        class="line-clamp-1 flex-1">جودة المنتج</span></h3>
                <p class="text-[#737195] text-lg line-clamp-3">من شروط تقديم خدمات اختبار البرمجيات لدينا، هو أن يكون المنتج الذي تقدمه يتمتع بجودة عالية، وهذا حتى تتمكن من نيل ثقة العميل، وبالتالي تحقيق المزيد من الأرباح.                </p>
            </div>
            <div class="rounded-lg pb-5 h-fit p-5 space-y-3 shadow-lg border border-[#F5F5FC]">
                <h3 class="flex items-center gap-1 font-bold text-black text-xl"><span
                        class="rounded-2xl text-xl text-[#28398c] border-[#28398c] font-bold w-11 h-11 border border-solid flex justify-center items-center mr-2">04</span><span
                        class="line-clamp-1 flex-1">تحديد كافة العيوب</span></h3>
                <p class="text-[#737195] text-lg line-clamp-3">نضمن لك أن نحدد كافة العيوب بمشروعك الإلكتروني بدقة، ونعمل على تفادي التعرض لها مرة أخرى وإصلاحها بحيث لا تتكرر                </p>
            </div>
        </div>
    </div>
</section>


<section class="w-full relative flex flex-col relative mb-10 mt-10">
    <div class="container px-5 m-auto">
        <h2 class="text-3xl lg:text-4xl lg:leading-[3.2rem] font-bold text-text mb-3 max-w-[450px] mb-8">أنواع اختبار البرمجيات في لوجيسيل لاب</h2>

        <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-3">
            <div class="rounded-lg pb-5 shadow-lg p-5 space-y-3 border border-solid border-[#F5F5FC] h-full">
                <div
                    class="font-bold w-11 h-11 flex justify-center items-center overflow-hidden border border-solid rounded-full">
                    <span>01</span>
                </div>
                <h2 class="font-bold text-start text-black text-lg line-clamp-1"> اختبار البرمجيات الوظيفي</h2>
                <p class="text-[#737195] text-start">يتضمن اختبار البرمجيات الوظيفي الاختبارات التي تقيم الوظائف التي يجب أن يؤديها النظام. يمكن وصف المتطلبات الوظيفية في منتجات العمل مثل مواصفات متطلبات العمل، قصص المستخدمين، حالات الاستخدام أو المواصفات الوظيفية، وغيرهم.                </p>
            </div>
            <div class="rounded-lg pb-5 shadow-lg p-5 space-y-3 border border-solid border-[#F5F5FC] h-full">
                <div
                    class="font-bold w-11 h-11 flex justify-center items-center overflow-hidden border border-solid rounded-full">
                    <span>02</span>
                </div>
                <h2 class="font-bold text-start text-black text-lg line-clamp-1"> اختبار البرمجيات غير الوظيفي</h2>
                <p class="text-[#737195] text-start">يقوم اختبار البرمجيات غير الوظيفي بتقييم خصائص الأنظمة والبرامج مثل قابلية الاستخدام، وكفاءة الأداء أو الأمان. راجع معيار ISO (ISO / IEC 25010) لتصنيف خصائص جودة منتج البرنامج بكفاءة. باختصار، يقوم الاختبار غير الوظيفي باختبار "مدى جودة" سلوك النظام.
                </p>
            </div> 
            <div class="rounded-lg pb-5 shadow-lg p-5 space-y-3 border border-solid border-[#F5F5FC] h-full">
                <div
                    class="font-bold w-11 h-11 flex justify-center items-center overflow-hidden border border-solid rounded-full">
                    <span>03</span>
                </div>
                <h2 class="font-bold text-start text-black text-lg line-clamp-1">اختبار التأكيد </h2>
                <p class="text-[#737195] text-start">بعد إصلاح أي خلل وظيفي، يجب اختبار البرنامج بعد فشله بسبب العيب، ويجب إعادة تنفيذه على إصدار البرنامج الجديد. يمكن أيضًا اختبار البرنامج باختبارات جديدة إذا كان العيب يفتقد إلى الوظيفة على سبيل المثال. ويجب على الأقل تنفيذ خطوات إعادة إنتاج الفشل الناتجة عن العيب في إصدار البرنامج الجديد
                </p>
            </div>
            <div class="rounded-lg pb-5 shadow-lg p-5 space-y-3 border border-solid border-[#F5F5FC] h-full">
                <div
                    class="font-bold w-11 h-11 flex justify-center items-center overflow-hidden border border-solid rounded-full">
                    <span>04</span>
                </div>
                <h2 class="font-bold text-start text-black text-lg line-clamp-1"> اختبار الانحدار</h2>
                <p class="text-[#737195] text-start">قد يؤثر أي تغيير يتم إجراؤه في جزء واحد من الكود البرمجي - سواء كان إصلاحًا أو نوعًا آخر من التغيير - على سلوك أجزاء أخرى من الكود، وهذا سواء ما إذا كان داخل نفس المكون أو في المكونات الأخرى من نفس النظام أو حتى في الأنظمة الأخرى. قد تشمل التغييرات على تغييرات البيئة                </p>
            </div>
            <div class="rounded-lg pb-5 shadow-lg p-5 space-y-3 border border-solid border-[#F5F5FC] h-full">
                <div
                    class="font-bold w-11 h-11 flex justify-center items-center overflow-hidden border border-solid rounded-full">
                    <span>05</span>
                </div>
                <h2 class="font-bold text-start text-black text-lg line-clamp-1"> اختبارات الأداء </h2>
                <p class="text-[#737195] text-start">هو نوع من أنواع الاختبارات غير الوظيفية، ويتم القيام به حتى نتمكن من تحديد سرعة تطبيق البرامج وقياس نسبة استقراراها بالإضافة إلى معرفة قابليتها للتوسع. إن الهدف العام من اختبار البرمجيات هذا هو التحقق من كفاءة وأداء التطبيق في مقابل معايير الشبكة المختلفة والنظام                </p>
            </div>
            <div class="rounded-lg pb-5 shadow-lg p-5 space-y-3 border border-solid border-[#F5F5FC] h-full">
                <div
                    class="font-bold w-11 h-11 flex justify-center items-center overflow-hidden border border-solid rounded-full">
                    <span>06</span>
                </div>
                <h2 class="font-bold text-start text-black text-lg line-clamp-1"> اختبارات الوحدة</h2>
                <p class="text-[#737195] text-start">وهو الاختبار الأول الذي يقوم به المطورون في خلال أي مرحلة تطوير للبرامج المختلفة. يتم استخدام اختبارات الوحدة للتأكد من صحة البرامج ولتوقع سلوكها أيضًا، وهذا بالطبع يعتبر اختصار لاختبارات الوحدة، ولكنها تتفرع إلى فروع أكثر بكثير من المذكورة فقط.                </p>
            </div>
        </div>
    </div>
</section>


<section class="w-full relative flex flex-col relative mb-10 mt-10">
    <div
        class="container m-auto grid gap-8 mb-11 lg:mb-20 grid-cols-1 py-7 lg:grid-cols-2 items-center bg-[#FBFDFE] border border-[#D8E8F8] rounded-lg">
        <div class="rounded-[3rem] lg:order-2"><img
                src="../images/software1.jpg"
                width="595" height="521" alt="Software Testing Lifecycle"
                sizes="(max-width: 768px) 400px, 500px"
                class="max-h-[595px] ms-auto object-contain !rounded-[1rem]"></div>
        <div class="lg:order-1 space-y-5 px-11">
            <h2
                class="text-2xl md:text-3xl lg:text-4xl lg:leading-[2.8rem] text-text font-bold leading-[2.5rem] capitalize">
                <h2 class="text-3xl lg:text-4xl"><strong style="color: rgb(0, 0, 0);">ما هي دورة حياة اختبار البرمجيات (STLC) ودورة حياة تطوير البرمجيات (SDLC)؟                </strong></h2>
            </h2>
            <div class="">
                <p class="text-lg"><span style="background-color: transparent; color: rgb(0, 0, 0);">دورة حياة تطوير البرمجيات (SDLC) تمثل الرحلة الكاملة للمنتج من بدايته حتى يتحول إلى المنتج النهائي. وفيما يتعلق بمراحل تطوير البرمجيات المختلفة، يعتبر الاختبار واحدًا من أهم عناصرها. إذ يعتبر اختبار البرمجيات جزءًا من دورة حياة تطوير البرمجيات (SDLC)، ويمتلك دورته الخاصة وحياته الخاصة، وتُعرف بدورة حياة اختبار البرمجيات (STLC).                 </span>
                </p>
                <p><br></p>
            </div>
            <button style="border: 2px solid;" type="button"
                class="base-btn text-xl rounded-lg text-[#28398c] hover:text-white bg-white hover:bg-[#28398c] p-2.5 px-8 mt-8">الحصول على الخدمة</button>
        </div>
    </div>
</section>


<section class="w-full relative flex flex-col relative mb-10 mt-10">
    <div class="container m-auto mb-11 lg:mb-20">
        <div class="flex flex-col items-center justify-center text-center border rounded-[40px] px-4 py-11 lg:py-20 font-montserrat !bg-no-repeat !bg-cover"
            style="background: url('../images/color-blue.jpg');">
            <h2
                class="lg:text-4xl text-3xl font-bold mb-5 capitalize max-w-[700px] leading-[3rem] lg:leading-[3.7rem] text-white">
                ابدأ الاستشارة المجانية مع خبير من لوجيسيل لاب الآن!.</h2>
                <button style="border: 2px solid;" type="button"
                    class="base-btn text-xl rounded-lg text-white hover:text-[#28398c] bg-transparent hover:bg-white p-2.5 px-8">الحصول على الخدمة</button>
        </div>
    </div>
</section>