<section class="w-full relative flex flex-col relative mb-10 mt-10">
    <div class="container px-5 m-auto">
        <div
            class="text-3xl md:text-4xl xl:text-5xl capitalize font-montserrat text-center md:leading-[3.3rem] font-bold max-w-[630px] xl:max-w-[800px] max-h-fit mx-auto text-black xl:leading-[4rem]">
            <h1>التحليل الفني</h1>
        </div>
        <p class="max-w-[800px] mx-auto text-[#737195] text-center text-lg mt-5">هل ترغب في تحسين أداء مشروعك وتحقيق نجاح مستدام؟ هل تبحث عن الأدوات والإرشادات الصحيحة لاتخاذ قرارات استراتيجية مستنيرة؟ إذاً، فخدمة التحليل الفني للمشاريع التي تقدمها لك العالمية الحرةهي ما تحتاجه!        </p>

        <div class="flex items-center gap-5 justify-center">
            <button style="border: 2px solid;" type="button"
                class="base-btn text-xl rounded-lg text-white hover:text-[#28398c] bg-[#28398c] hover:bg-white p-2.5 px-8 mt-8">الحصول على الخدمة <i class="fa-solid fa-chevron-left text-base"></i></button>
        </div>
    </div>
</section>

<section class="w-full relative flex flex-col relative mb-10 mt-10">
    <div class="container px-5 m-auto">
        <div class="min-h-[300px] rounded-2xl">
            <img src="../images/busniess.jpg"
                alt="<h1><span style=&quot;background-color: transparent; color: rgb(0, 0, 0);&quot;>Technical analysis</span></h1>"
                class="mx-auto">
        </div>
    </div>
</section>


<section class="w-full relative flex flex-col relative mb-12">
    <div class="container border-2 border-[#d8e7f8] p-7 lg:pl-14 rounded-2xl px-5 m-auto">
        <h2 class="text-[#141324] text-5xl font-bold mb-4 max-w-3xl leading-[66px]" data-aos="fade-up">مهام لوجيسيل لاب في التحليل الفني للأعمال</h2>
        <p class="font-light text-lg text-[#737195] max-w-xl" data-aos="fade-up">حتى يتم التحليل الفني للأعمال بصورة صحيحة، يجب أن تتم به بعض المهام والأدوار التي تترتب على بعضها البعض، وتتمثل هذه الأدوار في التالي:</p>

        <button style="border: 2px solid;" type="button"
            class="base-btn text-xl rounded-lg text-[#28398c] hover:text-white bg-white hover:bg-[#28398c] p-2.5 px-8 mt-10">
            <a href="https://wa.me/+971508224633">الحصول على الخدمة</a>
            <i class="fa-solid fa-arrow-left mr-1"></i></button>


        <div class="grid grid-col md:grid-cols-3 xl:grid-cols-3 gap-5 mt-8">
            <div class="block p-6 border border-gray-200 rounded-lg shadow bg-[#fff9fc]">
                <div>
                    <span
                        class="flex items-center justify-center border rounded-full border-third w-11 h-11 mb-4 font-black">01</span>
                    <h2 class="font-bold text-start text-black text-lg line-clamp-1">استنتاج المتطلبات</h2>
                    <p class="text-[#737195] text-base py-3 overflow-y-auto leading-6">الخطوة الأولى التي يقوم بها محلل الأعمال أثناء التحليل الفني هو استنتاج متطلبات صاحب المشروع التي تساعده في تحقيق أهدافه</p>
                </div>
            </div>
            <div class="block p-6 border border-gray-200 rounded-lg shadow bg-[#fff9fc]">
                <div>
                    <span
                        class="flex items-center justify-center border rounded-full border-third w-11 h-11 mb-4 font-black">02</span>
                    <h2 class="font-bold text-start text-black text-lg line-clamp-1"> جمع المتطلبات</h2>
                    <p class="text-[#737195] text-base py-3 overflow-y-auto leading-6">تتم عمية جمع المتطلبات بالمشاركة بين محلل الأعمال وصاحب المشروع وفريق التطوير، حيث يقوم صاحب المشروع بتوصيل احتياجاته إلى محلل الأعمال.</p>
                </div>
            </div>
            <div class="block p-6 border border-gray-200 rounded-lg shadow bg-[#fff9fc]">
                <div>
                    <span
                        class="flex items-center justify-center border rounded-full border-third w-11 h-11 mb-4 font-black">03</span>
                    <h2 class="font-bold text-start text-black text-lg line-clamp-1">تحديد المتطلبات الوظيفية وغير الوظيفية</h2>
                    <p class="text-[#737195] text-base py-3 overflow-y-auto leading-6">تتم عمية جمع المتطلبات بالمشاركة بين محلل الأعمال وصاحب المشروع وفريق التطوير، حيث يقوم صاحب المشروع بتوصيل احتياجاته إلى محلل الأعمال.</p>
                </div>
            </div>
            <div class="block p-6 border border-gray-200 rounded-lg shadow bg-[#fff9fc]">
                <div>
                    <span
                        class="flex items-center justify-center border rounded-full border-third w-11 h-11 mb-4 font-black">04</span>
                    <h2 class="font-bold text-start text-black text-lg line-clamp-1">التحليل الفني للمتطلبات</h2>
                    <p class="text-[#737195] text-base py-3 overflow-y-auto leading-6">يشمل التحليل الفني للمتطلبات تنظيم وتحديد أولويات المتطلبات التي تم جمعها بالفعل وفحصها بعناية لتحديد الأولوية والأهمية لكل متطلب.</p>
                </div>
            </div>
            <div class="block p-6 border border-gray-200 rounded-lg shadow bg-[#fff9fc]">
                <div>
                    <span
                        class="flex items-center justify-center border rounded-full border-third w-11 h-11 mb-4 font-black">05</span>
                    <h2 class="font-bold text-start text-black text-lg line-clamp-1"> التواصل مع المطورين</h2>
                    <p class="text-[#737195] text-base py-3 overflow-y-auto leading-6">وفي النهاية، يتم التواصل مع المطورين لتوضيح النتيجة النهائية بعد عمل التحليل الفني للمشروع وبالإتفاق معهم يتم البدء في تنفيذ المشروع على أرض الواقع.</p>
                </div>
            </div>
            <div class="block p-6 border border-gray-200 rounded-lg shadow bg-[#fff9fc]">
                <div>
                    <span
                        class="flex items-center justify-center border rounded-full border-third w-11 h-11 mb-4 font-black">06</span>
                    <h2 class="font-bold text-start text-black text-lg line-clamp-1"> اختبار ومراجعة النتائج</h2>
                    <p class="text-[#737195] text-base py-3 overflow-y-auto leading-6">بمجرد الانتهاء من تنفيذ المشروع، يتحتم على المحلل الفني مساعدة فريق الاختبار في التحقق من أن المشروع يلبي المتطلبات بشكل صحيح.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="w-full relative flex flex-col relative mb-12">
    <div class="container grid gap-8 pb-20 grid-cols-1 lg:grid-cols-2 items-center">
        <div class="rounded-[3rem]"><img
                src="../images/graphic.jpg"
                width="695" height="521" alt="project technical analysis" loading="lazy" data-nuxt-img=""
                sizes="(max-width: 768px) 400px, 500px" class="max-h-[595px] mx-auto !object-contain rounded-[3rem]">
        </div>
        <div class="space-y-5">
            <h2 class="text-2xl lg:text-3xl lg:leading-[2.4rem] text-text font-semibold leading-[2.5rem] capitalize">
                <h2 class="lg:text-4xl"><strong style="color: rgb(0, 0, 0);"> ماذا تقدم لك لوجيسيل لاب في خدمة التحليل الفني للمشاريع؟
                </strong></h2>
            </h2>
            <div class="text-text-light max-w-[500px]">
                <p><span style="color: rgb(14, 16, 26); background-color: transparent;">اختر خدمة التحليل الفني للمشاريع اليوم واستمتع بمشروع ناجح ومستقبل واعد. فلا تتردد في الاتصال بنا الآن لبدء رحلة التطوير والتميز!                </span></p>
            </div>
            <ul class="features_list">
                <li class="text-[#737195] items-start flex relative mb-4"><img
                        src="data:image/webp;base64,UklGRogBAABXRUJQVlA4WAoAAAAQAAAAEwAAEgAAQUxQSKMAAAABgFXbTljpSEBCJFQCEuqgcTA4AAdvHPAczDioBCREQiTkA2gtRMQEsP2xobyt0VrUJ/m28AynhY28EP/VMwFI1q+nSZ3HplMZL8rU75184K8DNWQjNuDwioSyTsME0MhqAH7BMGE2zXEBzY9uwnyF0PwAWpgwSzTg+w/QDpZ3Byg27UeZ9IXrlLxrlimd+nGZyMPCTsgedmcetmg1Gm91WGELAFZQOCC+AAAAEAUAnQEqFAATAD5RJI9Fo6IhFAQAOAUEtgBOmUJAfWz4rPTAOe29jz9tPSVAm3mcAAD+9pWXv9t8/7mXxX+ZQksMm55fOdkn1z/66Bkiau2bkP10MAvO4FQUgOdi4th5J8kxYf0pDqKurQYzb5l+u/0hyewDAXuPvKNdIn++55ORM6ygzFTfwBfgg6rqtWA8Net/pr2mXp7V14jTe/+X7arMsiv8HGepKp+Pize7tvoik83cTdyJ1IAGSbgAAA=="
                        alt="list_icon" width="20" height="20" class="me-1"><span class="flex-1">تحليل شامل: نقدم تقييمًا دقيقًا لحالة مشروعك باستخدام الأدوات والتقنيات الأكثر تحديثًا في مجال التحليل الفني.                        </span></li>
                <li class="text-[#737195] items-start flex relative mb-4"><img
                        src="data:image/webp;base64,UklGRogBAABXRUJQVlA4WAoAAAAQAAAAEwAAEgAAQUxQSKMAAAABgFXbTljpSEBCJFQCEuqgcTA4AAdvHPAczDioBCREQiTkA2gtRMQEsP2xobyt0VrUJ/m28AynhY28EP/VMwFI1q+nSZ3HplMZL8rU75184K8DNWQjNuDwioSyTsME0MhqAH7BMGE2zXEBzY9uwnyF0PwAWpgwSzTg+w/QDpZ3Byg27UeZ9IXrlLxrlimd+nGZyMPCTsgedmcetmg1Gm91WGELAFZQOCC+AAAAEAUAnQEqFAATAD5RJI9Fo6IhFAQAOAUEtgBOmUJAfWz4rPTAOe29jz9tPSVAm3mcAAD+9pWXv9t8/7mXxX+ZQksMm55fOdkn1z/66Bkiau2bkP10MAvO4FQUgOdi4th5J8kxYf0pDqKurQYzb5l+u/0hyewDAXuPvKNdIn++55ORM6ygzFTfwBfgg6rqtWA8Net/pr2mXp7V14jTe/+X7arMsiv8HGepKp+Pize7tvoik83cTdyJ1IAGSbgAAA=="
                        alt="list_icon" width="20" height="20" class="me-1"><span class="flex-1">تقارير مفصلة: ستحصل على تقارير مفصلة تحتوي على معلومات محورية وإحصائيات مهمة لفهم الوضع الحالي والاتجاهات المستقبلية.                        </span></li>
                <li class="text-[#737195] items-start flex relative mb-4"><img
                        src="data:image/webp;base64,UklGRogBAABXRUJQVlA4WAoAAAAQAAAAEwAAEgAAQUxQSKMAAAABgFXbTljpSEBCJFQCEuqgcTA4AAdvHPAczDioBCREQiTkA2gtRMQEsP2xobyt0VrUJ/m28AynhY28EP/VMwFI1q+nSZ3HplMZL8rU75184K8DNWQjNuDwioSyTsME0MhqAH7BMGE2zXEBzY9uwnyF0PwAWpgwSzTg+w/QDpZ3Byg27UeZ9IXrlLxrlimd+nGZyMPCTsgedmcetmg1Gm91WGELAFZQOCC+AAAAEAUAnQEqFAATAD5RJI9Fo6IhFAQAOAUEtgBOmUJAfWz4rPTAOe29jz9tPSVAm3mcAAD+9pWXv9t8/7mXxX+ZQksMm55fOdkn1z/66Bkiau2bkP10MAvO4FQUgOdi4th5J8kxYf0pDqKurQYzb5l+u/0hyewDAXuPvKNdIn++55ORM6ygzFTfwBfgg6rqtWA8Net/pr2mXp7V14jTe/+X7arMsiv8HGepKp+Pize7tvoik83cTdyJ1IAGSbgAAA=="
                        alt="list_icon" width="20" height="20" class="me-1"><span class="flex-1">استشارات مخصصة: سيقوم خبراؤنا بتقديم توجيه ونصائح مخصصة لمساعدتك في اتخاذ القرارات الأفضل لنجاح مشروعك.                        </span></li>
                <li class="text-[#737195] items-start flex relative mb-4"><img
                        src="data:image/webp;base64,UklGRogBAABXRUJQVlA4WAoAAAAQAAAAEwAAEgAAQUxQSKMAAAABgFXbTljpSEBCJFQCEuqgcTA4AAdvHPAczDioBCREQiTkA2gtRMQEsP2xobyt0VrUJ/m28AynhY28EP/VMwFI1q+nSZ3HplMZL8rU75184K8DNWQjNuDwioSyTsME0MhqAH7BMGE2zXEBzY9uwnyF0PwAWpgwSzTg+w/QDpZ3Byg27UeZ9IXrlLxrlimd+nGZyMPCTsgedmcetmg1Gm91WGELAFZQOCC+AAAAEAUAnQEqFAATAD5RJI9Fo6IhFAQAOAUEtgBOmUJAfWz4rPTAOe29jz9tPSVAm3mcAAD+9pWXv9t8/7mXxX+ZQksMm55fOdkn1z/66Bkiau2bkP10MAvO4FQUgOdi4th5J8kxYf0pDqKurQYzb5l+u/0hyewDAXuPvKNdIn++55ORM6ygzFTfwBfgg6rqtWA8Net/pr2mXp7V14jTe/+X7arMsiv8HGepKp+Pize7tvoik83cTdyJ1IAGSbgAAA=="
                        alt="list_icon" width="20" height="20" class="me-1"><span class="flex-1">تحسين الأداء: سنساعدك في تحسين أداء مشروعك وزيادة ربحيتك من خلال استراتيجيات محددة.                        </span></li>
                <li class="text-[#737195] items-start flex relative mb-4"><img
                        src="data:image/webp;base64,UklGRogBAABXRUJQVlA4WAoAAAAQAAAAEwAAEgAAQUxQSKMAAAABgFXbTljpSEBCJFQCEuqgcTA4AAdvHPAczDioBCREQiTkA2gtRMQEsP2xobyt0VrUJ/m28AynhY28EP/VMwFI1q+nSZ3HplMZL8rU75184K8DNWQjNuDwioSyTsME0MhqAH7BMGE2zXEBzY9uwnyF0PwAWpgwSzTg+w/QDpZ3Byg27UeZ9IXrlLxrlimd+nGZyMPCTsgedmcetmg1Gm91WGELAFZQOCC+AAAAEAUAnQEqFAATAD5RJI9Fo6IhFAQAOAUEtgBOmUJAfWz4rPTAOe29jz9tPSVAm3mcAAD+9pWXv9t8/7mXxX+ZQksMm55fOdkn1z/66Bkiau2bkP10MAvO4FQUgOdi4th5J8kxYf0pDqKurQYzb5l+u/0hyewDAXuPvKNdIn++55ORM6ygzFTfwBfgg6rqtWA8Net/pr2mXp7V14jTe/+X7arMsiv8HGepKp+Pize7tvoik83cTdyJ1IAGSbgAAA=="
                        alt="list_icon" width="20" height="20" class="me-1"><span class="flex-1">توقيت مرن: نحن هنا لخدمتك في الوقت الذي يناسبك، لضمان تلبية احتياجات مشروعك في الوقت المناسب.
                        </span>
                </li>
            </ul>
            <button style="border: 2px solid;" type="button"
                class="base-btn text-xl rounded-lg text-[#28398c] hover:text-white bg-white hover:bg-[#28398c] p-2.5 px-8 mt-12">
                الحصول على الخدمة</button>
        </div>
    </div>
</section>


<section class="w-full relative flex flex-col relative mb-12">
    <div
        class="container border-2 border-[#d8e7f8] grid gap-8 pb-20 grid-cols-1 lg:grid-cols-2 m-auto rounded-2xl items-center">
        <div class="rounded-[3rem] lg:order-2"><img
                src="../images/office.jpg"
                width="595" height="521" alt="How does Logiciel Lab conduct technical analysis for projects?" sizes="(max-width: 768px) 400px, 500px"
                class="max-h-[595px] ms-auto object-contain !rounded-[3rem]"></div>
        <div class="lg:order-1 space-y-5 px-11">
            <h2
                class="text-2xl md:text-3xl lg:text-4xl lg:leading-[2.8rem] text-text font-bold leading-[2.5rem] capitalize">
                <h2 class="lg:text-[40px]"><strong>كيف تقوم لوجيسيل لاب بعمل التحليل الفني للمشاريع؟</strong></h2>
            </h2>
            <div class="text-text-light max-w-[600px]">
                <p class="text-lg"><span style="color: rgb(14, 16, 26);">تقوم لوجيسيل لاب بعمل التحليل الفني للمشاريع بمنهجية ودقة تميزها عن غيرها من الشركات حيث اننا في العالمية نهتم بتحليل كافة الجوانب الداخلية والخارجية الخاصة بمشروعك وعمل دراسة شاملة لتحديد أفضل الاستراتيجيات التي تناسب مشروعك وتساعدك علي تحقيق هدفك تشمل هذه العملية الخطوات التالية:                </span></p>
                <p><br></p>
            </div>
            <ul class="features_list">
                <li class="text-[#737195] items-start flex relative mb-4"><img
                        src="data:image/webp;base64,UklGRogBAABXRUJQVlA4WAoAAAAQAAAAEwAAEgAAQUxQSKMAAAABgFXbTljpSEBCJFQCEuqgcTA4AAdvHPAczDioBCREQiTkA2gtRMQEsP2xobyt0VrUJ/m28AynhY28EP/VMwFI1q+nSZ3HplMZL8rU75184K8DNWQjNuDwioSyTsME0MhqAH7BMGE2zXEBzY9uwnyF0PwAWpgwSzTg+w/QDpZ3Byg27UeZ9IXrlLxrlimd+nGZyMPCTsgedmcetmg1Gm91WGELAFZQOCC+AAAAEAUAnQEqFAATAD5RJI9Fo6IhFAQAOAUEtgBOmUJAfWz4rPTAOe29jz9tPSVAm3mcAAD+9pWXv9t8/7mXxX+ZQksMm55fOdkn1z/66Bkiau2bkP10MAvO4FQUgOdi4th5J8kxYf0pDqKurQYzb5l+u/0hyewDAXuPvKNdIn++55ORM6ygzFTfwBfgg6rqtWA8Net/pr2mXp7V14jTe/+X7arMsiv8HGepKp+Pize7tvoik83cTdyJ1IAGSbgAAA=="
                        alt="list_icon" width="20" height="20" class="me-1"><span class="flex-1">تحليل البيئة الداخلية(SWOT Analysis): تحليل البيئة الداخلية هو عملية تقييم واستقصاء العوامل والمكونات التي تؤثر على أداء ونجاح منظمة أو شركة داخليًا. يهدف هذا التحليل إلى فهم النقاط القوة والضعف في البيئة الداخلية للمنظمة                        </span></li>
                <li class="text-[#737195] items-start flex relative mb-4"><img
                        src="data:image/webp;base64,UklGRogBAABXRUJQVlA4WAoAAAAQAAAAEwAAEgAAQUxQSKMAAAABgFXbTljpSEBCJFQCEuqgcTA4AAdvHPAczDioBCREQiTkA2gtRMQEsP2xobyt0VrUJ/m28AynhY28EP/VMwFI1q+nSZ3HplMZL8rU75184K8DNWQjNuDwioSyTsME0MhqAH7BMGE2zXEBzY9uwnyF0PwAWpgwSzTg+w/QDpZ3Byg27UeZ9IXrlLxrlimd+nGZyMPCTsgedmcetmg1Gm91WGELAFZQOCC+AAAAEAUAnQEqFAATAD5RJI9Fo6IhFAQAOAUEtgBOmUJAfWz4rPTAOe29jz9tPSVAm3mcAAD+9pWXv9t8/7mXxX+ZQksMm55fOdkn1z/66Bkiau2bkP10MAvO4FQUgOdi4th5J8kxYf0pDqKurQYzb5l+u/0hyewDAXuPvKNdIn++55ORM6ygzFTfwBfgg6rqtWA8Net/pr2mXp7V14jTe/+X7arMsiv8HGepKp+Pize7tvoik83cTdyJ1IAGSbgAAA=="
                        alt="list_icon" width="20" height="20" class="me-1"><span class="flex-1">تحليل البيئة الخارجية (porter analysis): او ما يسمي بالتحليل الخماسي هو إطار تحليلي يستخدم لفهم وتقييم العوامل الخارجية التي تؤثر على منافسة الشركة أو المنظمة في سوق معين. تم تطوير هذا الإطار بواسطة العالم مايكل بورتر استاذ إدارة الاعمال في جامعة هارفارد
                        </span></li>
            </ul>
            <button style="border: 2px solid;" type="button"
                class="base-btn text-xl rounded-lg text-[#28398c] hover:text-white bg-white hover:bg-[#28398c] p-2.5 px-8 mt-12">
                الحصول على الخدمة</button>
        </div>
    </div>
</section>




<section class="w-full relative flex flex-col relative mb-14">
    <div class="container px-5 m-auto">
        <div class="flex flex-col items-center justify-center text-center border rounded-[40px] px-4 py-11 lg:py-20 font-montserrat !bg-no-repeat !bg-cover"
            style="background: url('../images/technology.jpg');">
            <h2
                class="lg:text-4xl text-3xl font-bold mb-5 capitalize max-w-[700px] leading-[3rem] lg:leading-[3.7rem] text-white">
                ابدأ إستشاره مجانية مع خبير من العالمية الحرة الآن!</h2>
            <button style="border: 2px solid;" type="button"
                class="base-btn text-xl rounded-lg text-white hover:text-white bg-transparent hover:bg-[#28398c] p-2.5 px-8">الحصول على الخدمة</button>
        </div>
    </div>
</section>